/* center the table text */
th, td {
	text-align: center;
}
/* adding a min height so the table takes up some space even before data is added */
table {
	min-height: 250px;
}

h1 {
	font-family: 'Rubik', sans-serif;
}

th {
	color: #b39ddb;
}

h1 > small {
	color: #b39ddb;
}
