/* center the table text */
th, td {
	text-align: center;
}
/* adding a min height so the table takes up some space even before data is added */
table {
	min-height: 300px;
}
/* custom font for the page header */
h1 {
	font-family: 'Rubik', sans-serif;
}
/* change font color when a row is moused over */
tr:hover{
	color: #9575cd;
}

h1 > small {
	color: #b39ddb;
}
